.flex{
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.FlexDiv{
    display: flex;
    margin:auto;
    width: 600px;
    border-radius: 5px;
    padding: 14px 20px;
    border: 1px solid #bbb;
    justify-content: space-between;
}